{% assign author = site.authors[page.author] %}
{% if author %}{% if author.google %}
	<div hidden><a href="{{author.google}}?rel=author" />Visit {{author.display_name}} on Google+</a></div>
{% endif %}{% endif %}

{% if site.adzerk_mention %}
	<div class="mention">
		<div class="ui-cols">
			<div class="ui-col-10 ui-skip-1">
				<img src="/assets/images/logos/adzerk.png" alt="Adzerk"/>
				<blockquote><strong>Made at <a href="http://adzerk.com">Adzerk</a></strong> &nbsp;&vert;&nbsp; <em>Build custom advertising products with the Adzerk API</em></blockquote>
			</div>
		</div>
	</div>
{% endif %}

<footer>
	<div class="ui-cols">
		<div class="ui-col-10 ui-skip-1">
			<div class="footer-links">
				{% if site.github_username %}<a href="http://github.com/{{ site.github_username }}" class="network github">{{ site.company }} on Github</a>{% endif %}
				<a href="https://github.com/boot-clj/boot-clj.com">Site Source</a>
			</div>
			<div class="footer-privacy">
				{% if site.copyright %}<small>{{site.copyright}}</small>{% endif %}
			</div>
		</div>
	</div>
</footer>
