<div id="login" class="overlay overlay-hidden">
	<div class="overlay-content">
		<div class="modal minimized">
			<a href="#" class="modal-close"></a>
			<div class="modal-content">
				<h3>Log in to Adzerk</h3>
				<p>Login to your account by visiting the web domain you selected for your account, such as <em>http://<strong>domain</strong>.adzerk.com</em>.</p>
				<form id="loginform">
					<input type="text" class="ui-field" placeholder="domain" id="domain" />
					<input type="submit" value="Go!" class="ui-action ui-action-main ui-action-block" />
				</form>
				<p>Having trouble remembering? <a href="mailto:support@adzerk.com">Contact Support</a>.</p>
			</div>
		</div>
	</div>
</div>
