<div class="nav-mobile">
	<div class="nav-mobile-content">
		<a href="/features">About</a>
		<a href="/install">Install Boot</a>
	</div>
</div>

<nav>
	<div class="ui-cols">
		<div class="ui-col-10 ui-skip-1">
			<div class="header-logo">
				<a href="/" {%if site.logo %} data-logo-image style="background-image: url({{site.logo}});" {% endif %}>{{ site.company }}</a>
			</div>
			<div class="header-links">
				{% for link in site.nav %}
					<a href="{{link.href}}">{{link.title}}</a>
				{% endfor %}
			</div>
			<div class="header-menu">
				<a href="#menu"></a>
			</div>
		</div>
	</div>
</nav>