.resources { margin: 3rem -30px;
	.resource { box-sizing: border-box; display: inline-block; margin-right: -.5em; width: 25%; padding: 4% 30px; vertical-align: top; 
		> * { margin: .5rem 0; }
		h4 a:not(:hover) { color: inherit; }
		a { display: block; }
		img { border-radius: 5px; }
		p { color: $light; font-size: $small; }
		@media only screen and (max-width: $break) {
			width: 33.3333%;
		}
		@media only screen and (max-width: 560px) {
			width: 50%;
		}
		@media only screen and (max-width: 360px) {
			width: 100%;
		}
	}
}