.tabset {
	.tabset-tabs { margin: 1rem 0; padding: 0; border-width: 0; border-bottom: 2px solid $faint; font-size: 0; @include clearfix();
		li { margin: 0; padding: 0; display: block; float: left; margin: 0 .5rem; margin-bottom: -2px; 
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			
			a { display: block; white-space: nowrap; font-size: 1rem; padding: 1rem 0; border-bottom: 2px solid transparent;
				&:hover { text-decoration: none; }
				&:hover, &.selected { border-color: #333; }
				&.selected { font-weight: bold; color: inherit; }
			}
		}
	}
	.tabset-contents { margin: 2rem 0;
		> * { display: none;
			&.selected { display: block; }
		}
	}
}